@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: #f0f0f0;
  --background-dark-color: #333333;
  --primary-color: #003049;
  --secondary-color: #fdf0d5;
  --header-color: #f0f0f0;
  --main-sentence-color: #444444;
  --main-sentence-dark-color: #acacac;
  --main-input-color: #333333;
  --main-input-dark-color: #9b9b9b;
  --main-text-color: #003049;
  --main-text-dark-color: #bebebe;
  --gray-text-color: #9da3af;
  --gray-text-dark-color: #777777;
  --main-box-hover-color: #e0e0e0;
  --main-box-hover-dark-color: #444444;
  --hover-color: #d62828;
  --wrong-color: #d62828;
  --wrong-color-dark: #ac1c1c;
  --correct-color: #09703c;
  --hover-color-rgb: 214, 40, 40;
  --correct-color-rgb: 9, 112, 60;
  --font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --dot-color: var(--primary-color);
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  overscroll-behavior: none;
  background-color: var(--background-color);
}

body {
  color: var(--main-text-color);
  background-color: var(--background-color);
  font-family: var(--font-family);
  transition: background-color 0.5s ease, color 0.5s ease;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: var(--main-text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--hover-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--key-text-color);
}

body.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --dot-color: var(--secondary-color);
  --main-box-hover-color: var(--main-box-hover-dark-color);
  --background-color: var(--background-dark-color);
  --main-text-color: var(--main-text-dark-color);
  --header-color: var(--background-dark-color);
  --main-sentence-color: var(--main-sentence-dark-color);
  --main-input-color: var(--main-input-dark-color);
  --gray-text-color: var(--gray-text-dark-color);
  --wrong-color: var(--wrong-color-dark);
}

html.dark {
  background-color: var(--background-dark-color);
}

.transition {
  transition: background-color 0.5s ease, color 0.5s ease;
}
