@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: #f0f0f0;
  --primary-color: #003049;
  --secondary-color: #fdf0d5;
  --text-color: #ffffff;
  --header-color: #f0f0f0;
  --main-text-color: #003049;
  --gray-text-color: #9da3af;
  --hover-color: #d62828;
  --correct-color: #09703c;
  --hover-color-rgb: 214, 40, 40;
  --correct-color-rgb: 9, 112, 60;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--main-text-color);
  background-color: var(--background-color);
}

a {
  color: var(--main-text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--hover-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--key-text-color);
}

body.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
