.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2rem;
  /* background-color: var(--header-color); */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.logoImageWrapper {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.2em;
}

.logoImage {
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.logoImageLight {
  opacity: 1;
}

.logoImageDark {
  opacity: 0;
}

:global(.dark) .logoImageLight {
  opacity: 0;
}

:global(.dark) .logoImageDark {
  opacity: 1;
}

.logoText {
  color: var(--main-text-color);
  transition: color 0.3s ease;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Pretendard", sans-serif;
}

.menuButton {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: var(--main-text-color);
  font-size: 1.5rem;
  cursor: pointer;
  transition: fill 0.3s ease; /* color 트랜지션 추가 */
}

.darkModeToggle {
  position: absolute;
  right: calc(2rem + 4rem);
  top: 50%;
  transform: translateY(-50%);
}

.menuButton svg {
  width: 24px;
  height: 24px;
  fill: var(--main-text-color); /* 기본 색상 설정 */
  transition: transform 0.3s ease, opacity 0.3s ease; /* fill 트랜지션 추가 */
}

/* switch.svg 아이콘에 대한 고정된 색상 설정 */
.menuButton svg#icon {
  fill: var(--main-text-color); /* 고정된 색상 설정 */
}

/* switch.svg 아이콘 대한 호버 스타일 제거 */
.menuButton:hover svg#icon {
  fill: var(--main-text-color); /* 호버 시에도 동일한 색상 유지 */
}

.menuDropdown {
  position: fixed;
  top: calc(1.5rem + 1.5rem + 1.3rem);
  right: 1.05rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: transparent;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out, transform 0.3s ease-out; /* transform 트랜지션 추가 */
}

.menuDropdown.open {
  max-height: 300px;
  opacity: 1;
  transform: translateY(0); /* 열릴 때 위치 초기화 */
  transition: max-height 0.5s ease-in, opacity 0.5s ease-in, transform 0.5s ease-in;
}

.menuDropdown:not(.open) {
  transform: translateY(0); /* 닫힐 때 위치 초기화 */
}

.menuItem {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  color: var(--main-text-color);
  text-decoration: none;
  transition: transform 0.3s ease, opacity 0.3s ease; /* 트랜지션 추가 */
  opacity: 0;
  transform: translateY(-20px);
  transition-delay: 0s; /* 기본 지연 시간 */
}

.menuDropdown.open .menuItem {
  opacity: 1;
  transform: translateY(0);
  transition-delay: calc(var(--menu-item-index) * 0.1s); /* 열릴 때 지연 시간 */
}

.menuDropdown:not(.open) .menuItem {
  opacity: 0;
  transform: translateY(-20px); /* 닫힐 때 위로 이동 */
  transition-delay: calc(
    (var(--menu-item-count) - var(--menu-item-index) - 1) * 0.1s
  ); /* 닫힐 때 지연 시간 */
}

.menuItem svg {
  vertical-align: middle;
}

.menuIcon {
  width: 24px;
  height: 24px;
  fill: var(--primary-color);
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* 추가 */
}

.menuIconWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuIconWrapper::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: var(--main-text-color);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.menuItem.active .menuIconWrapper::after {
  opacity: 1;
}

.menuItem:hover .menuIcon {
  color: var(--primary-color);
}

.menuItem:hover {
  background-color: transparent;
}

.menuLabel {
  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, width 0.3s ease;
  text-align: right;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  height: 24px;
  line-height: 1; /* 추가 */
  margin-top: -2px; /* 추가: 미세 조정 */
  margin-left: 0.8rem; /* 여기를 수정했습니다 */
}

/* 다른 호버 관련 스타일도 제거 */
.menuItem:hover .menuLabel {
  opacity: 1;
  width: auto;
  margin-right: 1rem;
}

/* 새로운 스타일 추가 */
.menuIcon::after {
  content: "";
  position: absolute;
  right: -4px; /* 점의 위치 조정 */
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background-color: var(--primary-color);
  border-radius: 50%;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* 현재 페이지 표시를 위한 클래스 */
.menuItem.active .menuIcon::after {
  opacity: 1;
}

@media (max-width: 768px) {
  .header {
    padding: 0.8rem 1.5rem;
  }

  .logo {
    font-size: 1rem;
  }

  .logoImageWrapper {
    width: 25px;
    height: 25px;
  }

  .menuButton {
    right: 1rem;
    font-size: 1rem; /* 24px에 가까운 크기로 조정 */
  }

  .darkModeToggle {
    left: calc(1rem + 0rem); /* 모바일에서 메뉴 버튼 오른쪽 여백 + 메뉴 버튼 너비 */
  }

  .menuDropdown {
    top: calc(0.6rem + 1rem + 2rem);
    right: 1rem; /* 오른쪽 간격 조정 */
  }

  .menuItem {
    padding: 0.8rem 0; /* 패딩 줄임 */
  }

  .menuIcon {
    width: 24px; /* 아이콘 크기 줄임 */
    height: 24px;
  }

  .menuLabel {
    font-size: 0.9rem; /* 글자 크기 줄임 */
  }
}

.menuItem[href="/tester"] svg {
  transform: translateY(1px); /* 필요에 따라 값 조정 */
}

/* 메뉴 아이 스타일과 유사하게 설정 */
.menuIcon {
  width: 24px;
  height: 24px;
  fill: var(--main-text-color);
  transition: fill 0.3s ease;
}

.menuItem[href="/custom"] .menuIcon {
  fill: var(--main-text-color) !important; /* 고정된 색상 설정 */
}

.menuDropdown .menuItem[href="/custom"]:hover .menuIcon {
  fill: var(--main-text-color) !important; /* 호버 시에도 동일한 색상 유지 */
}

.menuDropdown .menuItem[href="/custom"]:hover {
  background-color: transparent !important; /* 배경색 변경 방지 */
}
