/* styles/SentenceDisplay.module.css */
.sentenceDisplay {
  text-align: center;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 600px;
}

.content {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #444444;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.content.visible {
  opacity: 1;
}

.author {
  font-size: 1rem;
  color: #979797;
}

.incorrect {
  color: var(--hover-color);
}
