.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: background-color 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
}

.modalOverlay.open {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.modalContent {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  transform: translateY(20px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.modalContent.open {
  transform: translateY(0);
  opacity: 1;
}

.modalHeader {
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.settingItem {
  margin-bottom: 1rem;
}

.settingLabel {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.switchSelect {
  width: 100%;
  padding: 8px 24px 8px 8px; /* 오른쪽 패딩을 늘립니다 */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none; /* 기본 화살표를 제거합니다 */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath d='M10.293 3.293 6 7.586 1.707 3.293A1 1 0 0 0 .293 4.707l5 5a1 1 0 0 0 1.414 0l5-5a1 1 0 1 0-1.414-1.414z' fill='%23000000'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center; /* 화살표 위치 조정 */
  background-size: 12px;
}

.switchSelect,
.volumeSlider {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.volumeSlider {
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.volumeSlider:hover {
  opacity: 1;
}

.volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--primary-color);
  cursor: pointer;
  border-radius: 50%;
}

.volumeSlider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4caf50;
  cursor: pointer;
  border-radius: 50%;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
}

.closeButton {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.closeButton:hover {
  background-color: #e0e0e0;
}
