.stereoImagerWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.stereoImager {
  width: 100%;
  height: 56.25vw;
  max-height: 100vh;
  max-width: 177.78vh;
  object-fit: cover;
  opacity: 20%;
  transform: translateY(10%);
}

@media (max-aspect-ratio: 16/9) {
  .stereoImager {
    width: 100%;
    height: auto;
    transform: translateY(15%);
  }
}
