.stereoImagerWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.stereoImager {
  width: 100vw;
  height: 56.25vw; /* 16:9 비율 유지 */
  max-height: 200vh;
  object-fit: cover;
  opacity: 20%;
  transform: translateY(7.5%);
}

@media (max-aspect-ratio: 16/9) {
  .stereoImager {
    width: 100%;
    height: auto;
    transform: translateY(12.5%);
  }
}
