/* This file is part of the Tester component.
 * Original code is under MIT License by Mostafa Abbasi.
 * Modifications and additions are copyrighted by takealook97.
 * For full license information, please see the LICENSE.md file in the app/tester directory.
 */

.container {
  --tester-scale: 0.625;
  transform: scale(var(--tester-scale));
  transform-origin: top left;
  width: calc(100% / var(--tester-scale));
  height: calc(100% / var(--tester-scale));

  --def-fs: 62.5%;
  --ff: "Segoe UI", sans-serif;
  --color-primary: #343a40;
  --color-primary-darker: #333;
  --color-primary-lighter: #555;

  --standard-key-size: 5rem;
  --key-border-radius: 0.6rem;
  --box-shadow-keycaps-value: inset 0 -0.2rem 0 0.3rem;
  --box-shadow-keycaps-hover-value: inset 0 -0.1rem 0 0.2rem;

  --box-shadow-keycaps: var(--box-shadow-keycaps-value) var(--color-keycaps-shadow);
  --box-shadow-keycaps-hover: var(--box-shadow-keycaps-hover-value) var(--color-keycaps-shadow);

  --box-shadow-keycaps-accent: var(--box-shadow-keycaps-value) var(--color-keycaps-shadow-accent);
  --box-shadow-keycaps-accent-hover: var(--box-shadow-keycaps-hover-value)
    var(--color-keycaps-shadow-accent);

  --box-shadow-keycaps-pressed: var(--box-shadow-keycaps-value) var(--color-keycaps-shadow-pressed);
  --box-shadow-keycaps-pressed-hover: var(--box-shadow-keycaps-hover-value)
    var(--color-keycaps-shadow-pressed);

  --color-keyboard: #3c3e4a;
  --color-keyboard-border: #303642;

  --color-keycaps-legends: #555;
  --color-keycaps-bg: #f8f9fa;
  --color-keycaps-shadow: #adb5bd;

  --color-keycaps-legends-accent: #555;
  --color-keycaps-bg-accent: #e2e3e6;
  --color-keycaps-shadow-accent: #97a0a8;

  --color-keycaps-legends-pressed: #2f3674;
  --color-keycaps-bg-pressed: #a4a9b0;
  --color-keycaps-shadow-pressed: #7f8489;

  --color-bg-toggle: linear-gradient(45deg, #c6cdd3, var(--primary-color));

  display: flex;
  flex-direction: column;
  justify-content: center; /* 수직 중앙 정렬 */
  min-height: 85vh;
  margin-top: 15vh;
  font-family: var(--ff);
  line-height: 1;
  font-weight: 400;
  color: var(--color-primary);

  outline: none;
}

.container * {
  outline: none;
}

.themeAndLayout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 120rem;
  margin: 0 auto 2.4rem;
  transition: all 0.25s;
}

.sliderContainer {
  width: 80%;
  margin: 1.6rem auto;
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.8rem;
  border-radius: 0.5rem;
  background: var(--color-bg-toggle);
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.3);
}

.slider::-moz-range-thumb {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.3);
}

.sliderValue {
  display: inline-block;
  position: relative;
  width: 6rem;
  color: var(--main-text-color);
  font-size: 2rem !important;
  line-height: 2rem;
  text-align: center;
  border-radius: 0.3rem;
  background: none;
  padding-top: 2rem;
  margin-left: 0.8rem;
}

.themeSection {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.themeSection > div {
  display: flex;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.themeColor {
  width: 25%;
}

.themeRetro {
  --key-border-radius: 0.6rem;

  --box-shadow-keycaps-value: inset 0 -0.2rem 0 0.3rem;
  --box-shadow-keycaps-hover-value: inset 0 -0.1rem 0 0.2rem;

  --box-shadow-keycaps: var(--box-shadow-keycaps-value) var(--color-keycaps-shadow);
  --box-shadow-keycaps-hover: var(--box-shadow-keycaps-hover-value) var(--color-keycaps-shadow);

  --box-shadow-keycaps-accent: var(--box-shadow-keycaps-value) var(--color-keycaps-shadow-accent);
  --box-shadow-keycaps-accent-hover: var(--box-shadow-keycaps-hover-value)
    var(--color-keycaps-shadow-accent);

  --box-shadow-keycaps-pressed: var(--box-shadow-keycaps-value) var(--color-keycaps-shadow-pressed);
  --box-shadow-keycaps-pressed-hover: var(--box-shadow-keycaps-hover-value)
    var(--color-keycaps-shadow-pressed);

  --color-keyboard: #3c3e4a;
  --color-keyboard-border: #303642;

  --color-keycaps-legends: #555;
  --color-keycaps-bg: #f8f9fa;
  --color-keycaps-shadow: #adb5bd;

  --color-keycaps-legends-accent: #555;
  --color-keycaps-bg-accent: #e2e3e6;
  --color-keycaps-shadow-accent: #97a0a8;

  --color-keycaps-legends-pressed: #2f3674;
  --color-keycaps-bg-pressed: #a4a9b0;
  --color-keycaps-shadow-pressed: #7f8489;
}

.themeNavyBlue {
  --key-border-radius: 1.2rem;

  --box-shadow-keycaps-value: inset 0 -0.2rem 0 0.3rem;
  --box-shadow-keycaps-hover-value: inset 0 -0.1rem 0 0.2rem;

  --box-shadow-keycaps: var(--box-shadow-keycaps-value) var(--color-keycaps-shadow);
  --box-shadow-keycaps-hover: var(--box-shadow-keycaps-hover-value) var(--color-keycaps-shadow);

  --box-shadow-keycaps-accent: var(--box-shadow-keycaps-value) var(--color-keycaps-shadow-accent);
  --box-shadow-keycaps-accent-hover: var(--box-shadow-keycaps-hover-value)
    var(--color-keycaps-shadow-accent);

  --box-shadow-keycaps-pressed: var(--box-shadow-keycaps-value) var(--color-keycaps-shadow-pressed);
  --box-shadow-keycaps-pressed-hover: var(--box-shadow-keycaps-hover-value)
    var(--color-keycaps-shadow-pressed);

  --color-keyboard: #2a309c;
  --color-keyboard-border: #21267e;

  --color-keycaps-legends: #fff;
  --color-keycaps-bg: #3d489b;
  --color-keycaps-shadow: #1c2880;

  --color-keycaps-legends-accent: #fff;
  --color-keycaps-bg-accent: #4f71e4;
  --color-keycaps-shadow-accent: #2e43ad;

  --color-keycaps-legends-pressed: #555;
  --color-keycaps-bg-pressed: #f8f9fa;
  --color-keycaps-shadow-pressed: #adb5bd;
}

.retro div:nth-child(1) {
  background-color: #3c3e4a;
}

.retro div:nth-child(2) {
  background-color: #f8f9fa;
}

.retro div:nth-child(3) {
  background-color: #a4a9b0;
}

.retro div:nth-child(4) {
  background-color: #2f3674;
}

.navyBlue div:nth-child(1) {
  background-color: #2a309c;
}

.navyBlue div:nth-child(2) {
  background-color: #3d489b;
}

.navyBlue div:nth-child(3) {
  background-color: #a4a9b0;
}

.navyBlue div:nth-child(4) {
  background-color: #2f3674;
}

.keyboardWrapper {
  width: 100%;
  max-width: 122rem;
  margin: 0 auto;
  position: relative;
}

.keyboard {
  width: 100%;
  height: auto;
  display: grid;
  margin: 0 auto;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background-color: var(--color-keyboard);
  box-shadow: 0 0.4rem 0 0.6rem var(--color-keyboard-border), 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
  transform: translateZ(0);
  transition: all 0.2s;
}

.fullSize {
  grid-template-columns: 215fr 2fr 45fr 1fr 60fr;
  max-width: 122rem;
}

.tkl {
  grid-template-columns: 215fr 7fr 45fr;
  max-width: 100rem;
}

.seventyFivePercent {
  grid-template-columns: 79rem 0 16.5rem;
  max-width: 86rem;
}

.region {
  padding: 0.5rem;
  gap: 0.25rem;
}

.function {
  display: grid;
  grid-template-columns: 2fr 2fr repeat(4, 2fr) 1fr repeat(4, 2fr) 1fr repeat(4, 2fr);
}

.systemControl {
  grid-column: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.typewriter {
  grid-row: 2;
  display: grid;
}

.firstRow,
.secondRow,
.thirdRow,
.fourthRow,
.fifthRow {
  display: grid;
  justify-items: center;
  gap: 0.25rem;
}

.firstRow {
  grid-template-columns: repeat(13, 1fr) 2fr;
}

.secondRow {
  grid-template-columns: 1.5fr repeat(12, 1fr) 1.5fr;
}

.thirdRow {
  grid-template-columns: 1.75fr repeat(11, 1fr) 2.25fr;
}

.fourthRow {
  grid-template-columns: 2.25fr repeat(10, 1fr) 2.75fr;
}

.fifthRow {
  grid-template-columns: repeat(3, 1.25fr) 6.25fr repeat(4, 1.25fr);
}

.navigation {
  grid-column: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.25rem;
}

.arrowUp {
  grid-column: 2;
  grid-row: 4;
}

.arrowLeft,
.arrowDown,
.arrowRight {
  grid-row: 5;
}

.numpad {
  grid-column: 5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.25rem;
  transition: all 0.15s;
}

.numpadadd {
  grid-column: 4;
  grid-row: 2 / span 2;
  height: 100% !important;
}

.numpadenter {
  grid-column: 4;
  grid-row: 4 / span 2;
  height: 100% !important;
}

.numpad0 {
  grid-column: 1 / span 2;
}

.key {
  width: 100%;
  height: var(--standard-key-size);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--key-border-radius);
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-keycaps-legends);
  background-color: var(--color-keycaps-bg);
  box-shadow: var(--box-shadow-keycaps);
  cursor: pointer;
  transition: all 0.075s;
}

.keyAccentColor {
  color: var(--color-keycaps-legends-accent);
  background-color: var(--color-keycaps-bg-accent);
  box-shadow: var(--box-shadow-keycaps-accent);
}

.keyPressed {
  color: var(--color-keycaps-legends-pressed);
  background-color: var(--color-keycaps-bg-pressed);
  box-shadow: var(--box-shadow-keycaps-pressed);
}

.key:hover,
.keyAccentColor:hover,
.keyPressed:hover,
.keyPressingSimulation {
  transform: scale(0.98);
  box-shadow: var(--box-shadow-keycaps-hover);
}

.keyAccentColor:hover {
  box-shadow: var(--box-shadow-keycaps-accent-hover);
}

.keyPressed:hover,
.keyPressingSimulation {
  box-shadow: var(--box-shadow-keycaps-pressed-hover);
}

.keySublegend {
  display: grid;
  grid-template-rows: 1fr auto auto 1fr;
  padding-top: 0.8rem;
  gap: 0.1rem;
}

.keySublegend span:nth-child(odd) {
  grid-row: 1;
}

.keySublegend span:nth-child(even) {
  grid-row: 2;
}

.metaleft svg {
  width: 1.8rem;
  height: 1.8rem;
  fill: var(--color-keycaps-legends);
}

.metaleft.keyAccent svg {
  fill: var(--color-keycaps-legends-accent);
}

.metaleft.keyPressed svg {
  fill: var(--color-keycaps-legends-pressed);
}

.contextmenu svg {
  width: 2rem;
  height: 2rem;
  stroke: var(--color-keycaps-legends);
  fill: none;
}

.contextmenu.keyAccent svg {
  stroke: var(--color-keycaps-legends-accent);
}

.contextmenu.keyPressed svg {
  stroke: var(--color-keycaps-legends-pressed);
}

.space span {
  transform: translateY(-1.6rem);
  font-size: 1.6rem;
}

.backquote,
.tab,
.capslock,
.shiftleft,
.controlleft {
  justify-content: left;
  padding-left: 1.6rem;
}

.backspace,
.enter,
.shiftright,
.controlright {
  justify-content: right;
  padding-right: 1.6rem;
}

.hiddenStep1 {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.15s;
}

.hiddenStep2 {
  width: 0;
  padding: 0;
}

.layoutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliderValue {
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: medium;
}
