.testerWrapper {
  --def-fs: 62.5%;
  --ff: "Segoe UI", sans-serif;
  --color-primary: #343a40;
  --color-primary-darker: #333;
  --color-primary-lighter: #555;
  --key-border-radius: 0.6rem;
  --box-shadow-keycaps-value: inset 0 -0.2rem 0 0.3rem;
  --box-shadow-keycaps-hover-value: inset 0 -0.1rem 0 0.2rem;
  --box-shadow-keycaps: var(--box-shadow-keycaps-value) var(--color-keycaps-shadow);
  --box-shadow-keycaps-hover: var(--box-shadow-keycaps-hover-value) var(--color-keycaps-shadow);
  --box-shadow-keycaps-accent: var(--box-shadow-keycaps-value) var(--color-keycaps-shadow-accent);
  --box-shadow-keycaps-accent-hover: var(--box-shadow-keycaps-hover-value)
    var(--color-keycaps-shadow-accent);
  --box-shadow-keycaps-pressed: var(--box-shadow-keycaps-value) var(--color-keycaps-shadow-pressed);
  --box-shadow-keycaps-pressed-hover: var(--box-shadow-keycaps-hover-value)
    var(--color-keycaps-shadow-pressed);
  --color-keyboard: #3c3e4a;
  --color-keyboard-border: #303642;
  --color-keycaps-legends: #555;
  --color-keycaps-bg: #f8f9fa;
  --color-keycaps-shadow: #adb5bd;
  --color-keycaps-legends-accent: #555;
  --color-keycaps-bg-accent: #e2e3e6;
  --color-keycaps-shadow-accent: #97a0a8;
  --color-keycaps-legends-pressed: #2f3674;
  --color-keycaps-bg-pressed: #a4a9b0;
  --color-keycaps-shadow-pressed: #7f8489;
  --color-bg: linear-gradient(45deg, #e9ecef, #ced4da, #adb5bd, #eaebf1, #c1c3d5);
  --color-bg-title: linear-gradient(
    45deg,
    #14181c,
    #506070,
    #2e3235,
    #506070,
    #2e3235,
    #506070,
    #14181c
  );
  --color-bg-toggle: linear-gradient(45deg, #4dabf7, #228be6, #1c70c0, #3c56da);
  --standard-key-size: 5rem;
  font-size: var(--def-fs);
  overflow-x: hidden;
  font-family: var(--ff);
  line-height: 1;
  font-weight: 400;
  color: var(--color-primary);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background-image: var(--color-bg); */
}

.testerContainer {
  max-width: 130rem; /* KeyboardTester-main의 .intro와 동일한 최대 너비 설정 */
  margin: 0 auto; /* 중앙 정렬 */
  padding: 4.8rem 3.2rem 0rem; /* KeyboardTester-main의 .intro와 동일한 패딩 설정 */
}

.intro {
  max-width: 130rem;
  margin: 0 auto;
  padding: 4.8rem 3.2rem 0rem;
}

.themeAndLayout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 120rem;
  margin: 0 auto 2.4rem;
  transition: all 0.25s;
}

.themeSection {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
}

.themeSection > div {
  display: flex;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.themeColor {
  width: 25%;
}

/* retro theme */
.retro div:nth-child(1) {
  background-color: #3c3e4a;
}

.retro div:nth-child(2) {
  background-color: #f8f9fa;
}

.retro div:nth-child(3) {
  background-color: #a4a9b0;
}

.retro div:nth-child(4) {
  background-color: #2f3674;
}

/* navy-blue */
.navyBlue div:nth-child(1) {
  background-color: #2a309c;
}

.navyBlue div:nth-child(2) {
  background-color: #3d489b;
}

.navyBlue div:nth-child(3) {
  background-color: #a4a9b0;
}

.navyBlue div:nth-child(4) {
  background-color: #2f3674;
}

/* slider styling */

.sliderContainer {
  width: 80%;
  margin: 1.6rem auto;
  text-align: center;
}

.slider {
  width: 100%;
  transform: translateY(1.8rem);
}

/* Styling the track */
.sliderContainer input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 4px;
  background: linear-gradient(to right, #555555, #f1f3f5);
}

/* Styling the thumb */
.sliderContainer input[type="range"]::-webkit-slider-thumb {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #555; /* Thumb color */
  cursor: pointer;
  -webkit-appearance: none;
  transition: all 0.3s ease; /* Smooth transition */
  transform: translateY(-0.4rem);
}

/* Highlighting the thumb on hover */
.sliderContainer input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0 0 10px rgba(84, 84, 84, 0.4); /* Add a subtle box-shadow on hover */
  transform: translateY(-0.4rem) scale(1.2);
}

.sliderValue {
  font-size: 2.4em;
  padding: 4px 8px;
  border-radius: 4px;
  color: #555; /* Match the thumb color */
  background: #fff; /* Background color for the value */
  box-shadow: 0 0 10px rgba(84, 84, 84, 0.1); /* Add a subtle box-shadow to the value */
}

.keyboard {
  display: grid;
  margin: 0 auto;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background-color: var(--color-keyboard);
  box-shadow: 0 0.4rem 0 0.6rem var(--color-keyboard-border), 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);

  /* force GPU acceleration to reduce
   potential subrendering issues */
  transform: translateZ(0);

  transition: all 0.2s;
}

.fullSize {
  grid-template-columns: 215fr 2fr 45fr 1fr 60fr;
  max-width: 122rem;
}

.tkl {
  grid-template-columns: 215fr 7fr 45fr;
  max-width: 100rem;
}

.seventyFivePercent {
  grid-template-columns: 79rem 0 16.5rem;
  max-width: 86rem;
}

.key {
  width: 100%;
  height: var(--standard-key-size);
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--key-border-radius);
  font-size: 1.2rem;
  font-weight: 700;

  color: var(--color-keycaps-legends);
  background-color: var(--color-keycaps-bg);
  box-shadow: var(--box-shadow-keycaps);
  cursor: pointer;

  transition: all 0.075s;
}

.keyAccentColor {
  color: var(--color-keycaps-legends-accent);
  background-color: var(--color-keycaps-bg-accent);
  box-shadow: var(--box-shadow-keycaps-accent);
}

/* making specificity higher by adding .key */
.key.keyPressed {
  color: var(--color-keycaps-legends-pressed);
  background-color: var(--color-keycaps-bg-pressed);
  box-shadow: var(--box-shadow-keycaps-pressed);
}

/* key pressing simulation class is for using in js */
.key:hover,
.keyAccentColor:hover,
.keyPressed:hover,
.keyPressingSimulation {
  transform: scale(0.98);
  box-shadow: var(--box-shadow-keycaps-hover);
}

.keyAccentColor:hover {
  box-shadow: var(--box-shadow-keycaps-accent-hover);
}

.keyPressed:hover,
.keyPressingSimulation {
  box-shadow: var(--box-shadow-keycaps-pressed-hover);
}

/* __________________________________
   ||||||||||||||||||||||||||||||||||
   |||| GENERAL KB LAYOUT STYLES ||||
   ||||||||||||||||||||||||||||||||||
*/

.region {
  padding: 0.5rem;
  gap: 0.25rem;
}

/* contains "ESC" & Function (F1-F12) */
.function {
  display: grid;
  grid-template-columns: 2fr 2fr repeat(4, 2fr) 1fr repeat(4, 2fr) 1fr repeat(4, 2fr);
}

/* contains Top-Located Control (Prt Sc|Scr lck|Pause) keys  */
.systemControl {
  grid-column: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* contains Modifiers/Control (Ctrl|Alt|etc.) & Alpha (A-Z) keys */
.typewriter {
  grid-row: 2;
  display: grid;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
  display: grid;
  justify-items: center;
  gap: 0.25rem;
}

.row1 {
  grid-template-columns: repeat(13, 1fr) 2fr;
}

.row2 {
  grid-template-columns: 1.5fr repeat(12, 1fr) 1.5fr;
}

.row3 {
  grid-template-columns: 1.79fr repeat(11, 1fr) 2.29fr;
}

.row4 {
  grid-template-columns: 2.29fr repeat(10, 1fr) 2.79fr;
}

.row5 {
  grid-template-columns: repeat(3, 1.29fr) 6.36fr repeat(4, 1.29fr);
}

/* contains Navigation (PgUp|PgDn|etc.) & Arrow keys */
.navigation {
  grid-column: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

/* contains Numpad Keys */
.numpad {
  grid-column: 5;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

/* _______________________________
   |||||||||||||||||||||||||||||||
   |||| KEY SPECIFIC STYLES ||||||
   |||||||||||||||||||||||||||||||
*/

/**************************/
/* TYPEWRITER REGION KEYS */
/**************************/

/* styling keys with sublegends */
.keySublegend {
  display: grid;
  grid-template-rows: 1fr auto auto 1fr;
  padding-top: 0.8rem;
  gap: 0.1rem;
}

.keySublegend span:nth-child(1) {
  font-size: 0.8rem;
  align-self: start;
}

.keySublegend span:nth-child(2) {
  font-size: 1.2rem;
}

.backspace {
  grid-column: -2 / -1;
}

.tab {
  grid-column: 1 / 2;
}

.backslash {
  grid-column: -2 / -1;
}

.capslock {
  grid-column: 1 / 3;
}

.enter {
  grid-column: -2 / -1;
}

.leftshift {
  grid-column: 1 / 3;
}

.rightshift {
  grid-column: -3 / -1;
}

.leftctrl {
  grid-column: 1 / 2;
}

.leftwin {
  grid-column: 2 / 3;
}

.leftalt {
  grid-column: 3 / 4;
}

.space {
  grid-column: 4 / 8;
}

.rightalt {
  grid-column: 8 / 9;
}

.rightwin {
  grid-column: 9 / 10;
}

.menu {
  grid-column: 10 / 11;
}

.rightctrl {
  grid-column: 11 / 12;
}

/*************************/
/* NAVIGATION REGION KEYS */
/*************************/

.insert,
.home,
.pageup {
  grid-row: 1;
}

.delete,
.end,
.pagedown {
  grid-row: 2;
}

.arrowup {
  grid-column: 2;
  grid-row: 4;
}

.arrowleft,
.arrowdown,
.arrowright {
  grid-row: 5;
}

.arrowup svg,
.arrowleft svg,
.arrowdown svg,
.arrowright svg {
  width: 1.2rem;
  height: 1.2rem;
  fill: var(--color-keycaps-legends);
}

.arrowup.keyPressed svg,
.arrowleft.keyPressed svg,
.arrowdown.keyPressed svg,
.arrowright.keyPressed svg {
  fill: var(--color-keycaps-legends-pressed);
}

/**********************/
/* NUMPAD REGION KEYS */
/**********************/

.numpadadd {
  grid-column: 4;
  grid-row: 2 / span 2;
  height: 100%;
}

.numpadenter {
  grid-column: 4;
  grid-row: 4 / span 2;
  height: 100%;
}
.numpad0 {
  grid-column: 1 / span 2;
}

/* _____________________________________
   |||||||||||||||||||||||||||||||||||||
   |||| Changing Layout Animation ||||||
   |||||||||||||||||||||||||||||||||||||
*/

.numpad {
  transition: all 0.15s;
}

/* simply using display:none; doesn't work because 
then we can't use transitions anymore

STEPS FOR REMOVING NUMPAD FROM FULL-SIZE KEYBOARD: */
.hidden--step1 {
  /* 1) Hide it visually */
  opacity: 0;
  /* 2) Make it inaccessible to mouse and keyboard */
  pointer-events: none;
  /* 3) Hide it from screen readers */
  visibility: hidden;

  transition: all 0.15;
}

.hidden--step2 {
  width: 0;
  padding: 0;
}

/* THEMES */
.themeRetro {
  --key-border-radius: 0.6rem;
  --box-shadow-keycaps-value: inset 0 -0.2rem 0 0.3rem;
  --box-shadow-keycaps-hover-value: inset 0 -0.1rem 0 0.2rem;
  --box-shadow-keycaps: var(--box-shadow-keycaps-value) var(--color-keycaps-shadow);
  --box-shadow-keycaps-hover: var(--box-shadow-keycaps-hover-value) var(--color-keycaps-shadow);
  --box-shadow-keycaps-accent: var(--box-shadow-keycaps-value) var(--color-keycaps-shadow-accent);
  --box-shadow-keycaps-accent-hover: var(--box-shadow-keycaps-hover-value)
    var(--color-keycaps-shadow-accent);
  --box-shadow-keycaps-pressed: var(--box-shadow-keycaps-value) var(--color-keycaps-shadow-pressed);
  --box-shadow-keycaps-pressed-hover: var(--box-shadow-keycaps-hover-value)
    var(--color-keycaps-shadow-pressed);
  --color-keyboard: #3c3e4a;
  --color-keyboard-border: #303642;
  --color-keycaps-legends: #555;
  --color-keycaps-bg: #f8f9fa;
  --color-keycaps-shadow: #adb5bd;
  --color-keycaps-legends-accent: #555;
  --color-keycaps-bg-accent: #e2e3e6;
  --color-keycaps-shadow-accent: #97a0a8;
  --color-keycaps-legends-pressed: #2f3674;
  --color-keycaps-bg-pressed: #a4a9b0;
  --color-keycaps-shadow-pressed: #7f8489;
}

.themeNavyBlue {
  --key-border-radius: 1.2rem;
  --box-shadow-keycaps-value: inset 0 -0.2rem 0 0.3rem;
  --box-shadow-keycaps-hover-value: inset 0 -0.1rem 0 0.2rem;
  --box-shadow-keycaps: var(--box-shadow-keycaps-value) var(--color-keycaps-shadow);
  --box-shadow-keycaps-hover: var(--box-shadow-keycaps-hover-value) var(--color-keycaps-shadow);
  --box-shadow-keycaps-accent: var(--box-shadow-keycaps-value) var(--color-keycaps-shadow-accent);
  --box-shadow-keycaps-accent-hover: var(--box-shadow-keycaps-hover-value)
    var(--color-keycaps-shadow-accent);
  --box-shadow-keycaps-pressed: var(--box-shadow-keycaps-value) var(--color-keycaps-shadow-pressed);
  --box-shadow-keycaps-pressed-hover: var(--box-shadow-keycaps-hover-value)
    var(--color-keycaps-shadow-pressed);
  --color-keyboard: #2a309c;
  --color-keyboard-border: #21267e;
  --color-keycaps-legends: #fff;
  --color-keycaps-bg: #3d489b;
  --color-keycaps-shadow: #1c2880;
  --color-keycaps-legends-accent: #fff;
  --color-keycaps-bg-accent: #4f71e4;
  --color-keycaps-shadow-accent: #2e43ad;
  --color-keycaps-legends-pressed: #555;
  --color-keycaps-bg-pressed: #f8f9fa;
  --color-keycaps-shadow-pressed: #adb5bd;
}

.emptySpaceBetweenKeys {
  visibility: hidden !important;
  width: 0 !important;
  padding: 0 !important;
}

/* Media Queries */
/* rem and em do NOT depend on html font-size 
in media queries! Instead, 1rem = 1em = 16px */

/***********************************/
/* BELOW 1392px (Smaller desktops) */
/***********************************/
@media (max-width: 87em) {
  .testerWrapper {
    font-size: 56.25%;
  }
}

/******************************************************/
/* BELOW 1264px (Larger laptops and smaller desktops) */
/******************************************************/
@media (max-width: 79em) {
  .testerWrapper {
    font-size: 50%;
  }
}

/************************************************************/
/* BELOW 1056px (Medium-sized laptops and smaller desktops) */
/************************************************************/
@media (max-width: 66em) {
  .testerWrapper {
    font-size: 43.75%;
  }
}

/******************************************************/
/* BELOW 928px (Smaller laptops and smaller desktops) */
/******************************************************/
@media (max-width: 58em) {
  .testerWrapper {
    font-size: 37.5%;
  }
}

/*************************/
/* BELOW 784px (Tablets) */
/*************************/
@media (max-width: 49em) {
  .testerWrapper {
    font-size: 31.25%;
  }
}

/*******************************/
/* BELOW 640px (Small tablets) */
/*******************************/
@media (max-width: 40em) {
  .testerWrapper {
    font-size: 25%;
  }
}

/********************************/
/* BELOW 512px (Mobile devices) */
/********************************/
@media (max-width: 32em) {
  .testerWrapper {
    font-size: 18.75%;
  }
}

/**************************************/
/* BELOW 384px (Small mobile devices) */
/**************************************/
@media (max-width: 24em) {
  .testerWrapper {
    font-size: 16%;
  }
}
