.typingArea {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 100%;
  max-width: 600px;
  padding-left: 0.3rem;
  font-size: 1.5rem;
  line-height: 1.5;
  border: none;
  border-radius: 7px;
  box-shadow: none;
  outline: none;
  color: #333;
  background-color: var(--main-background-color);
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
}

.input:focus {
  box-shadow: none;
}

.incorrect {
  box-shadow: 0 0 0 2px rgba(var(--hover-color-rgb), 0.3) !important;
  animation: shake 0.2s;
}

.correct {
  box-shadow: 0 0 0 2px rgba(var(--correct-color-rgb), 0.3) !important;
  transition: box-shadow 0s ease-in-out;
}

.input.correct-remove {
  transition: box-shadow 0.5s ease-in-out;
  box-shadow: none;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 767px) {
  .input {
    font-size: 1.2rem;
    padding: 0.3rem;
    padding-left: 0.1rem;
    line-height: 1.2;
  }
}
