.typingAreaWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typingArea {
  display: inline-block;
  position: relative;
}

.input {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 0.3rem;
  font-size: 1.5rem;
  line-height: 1.5;
  border: none;
  border-radius: 7px;
  box-shadow: none;
  outline: none;
  color: var(--main-input-color);
  background-color: var(--main-background-color);
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
  text-align: left;
}

.input:focus {
  box-shadow: none;
}

.incorrect {
  animation: shake 0.2s;
}

.correct {
  transition: none;
}

.input.correct-remove {
  transition: none;
  box-shadow: none;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 767px) {
  .input {
    font-size: 1.2rem;
    padding: 0.3rem;
    padding-left: 0.1rem;
    line-height: 1.2;
  }
}

.input::placeholder {
  color: var(--gray-text-color);
}

.typingSpeed {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem; /* 기본 크기 */
  color: var(--gray-text-color);
  transition: font-size 0.3s ease, bottom 0.3s ease;
}

@media (min-width: 768px) {
  .input {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .typingSpeed {
    font-size: 0.8rem;
    bottom: -30px;
  }
}

@media (max-width: 767px) {
  .input {
    font-size: 1.2rem;
    padding: 0.3rem;
    padding-left: 0.1rem;
    line-height: 1.2;
  }

  .typingSpeed {
    font-size: 0.7rem;
    bottom: -25px;
  }
}

@media (max-width: 480px) {
  .typingSpeed {
    font-size: 0.6rem;
    bottom: -20px;
  }
}
